<footer class="bg-dark text-light py-3" >
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h5>Company Name</h5>
          <p>Address, City, Country</p>
          <!-- Add additional company information as needed -->
        </div>
        <div class="col-lg-6">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>Email: info@example.com</li>
            <li>Phone: +123 456 7890</li>
            <!-- Add additional contact information as needed -->
          </ul>
        </div>
      </div>
    </div>
  </footer>